.image{
    align-items: center;
    width: 1500px;
}
.home-container {
    display: inline-block;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 120px);
    width: 100%;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
  }
  
  .home-content {
    background: rgba(111, 226, 232, 0.6);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
  }
  